*{box-sizing: border-box;}

body{
    background-color: #19fff3;
    color: rgb(4, 11, 205);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: lighter;
}

h1, h2{
    color: red;
}

p{
    color: blue;
    font-size: 1.2em;
}

.skils{
    color: blueviolet;
    font-size: 30px;
}

.parent{
    border: solid red 5px;
}

.grandparent{
    border-top: 5px red solid;
    border-bottom: 5px blue solid;
    border-right: 5px yellow solid;
    border-bottom: 5px green solid;
    padding: 10px 20px 30px 40px;
}

#hobby{
    background-color: whitesmoke;
}
.container{
    width: 80%;
    margin: auto;
}

ul{
    box-sizing: border-box;
    width: 300px;
}