*{box-sizing: border-box;}

body{
    background-color: #19fff3;
    color: rgb(4, 11, 205);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: lighter;
}

h1, h2{
    color: red;
}

p{
    color: blue;
    font-size: 1.2em;
}

.skils{
    color: blueviolet;
    font-size: 30px;
}

.parent{
    border: solid red 5px;
}

.grandparent{
    border-top: 5px red solid;
    border-left: 5px blue solid;
    border-right: 5px yellow solid;
    border-bottom: 5px green solid;
    padding: 10px 20px 30px 40px;
}

#hobby{
    background-color: whitesmoke;
}
.container{
    width: 80%;
    margin: auto;
}

ul{
    box-sizing: border-box;
    width: 300px;
}

.box-1 h3{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#myform{
    background-color: green;
    color: blanchedalmond;
    padding: 50px;
    margin: 10px 15px;
}

#myform input[type="text"]{
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
}


#myform input[type="submit"], .button{
    padding: 8px;
    border: none;
    background-color: darkolivegreen;
    color: chartreuse;
}

/* a {
    text-decoration: none;
    color: wheat;

} */

a:visited {
    color: crimson;
}

a:hover {
    color: aquamarine;
}

